<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherApp</title>
    <link rel="shortcut icon" href="/images/icons/01d.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almendra&family=Aoboshi+One&family=Audiowide&display=swap&family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/weather.css">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/0d3ce04075.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <main>
        
        <div class="container"> 
            <h1 class="appHeading"><img src="images/icons/01d.png" alt="">WeatherApp</h1>
            <h1><i style="font-size: 45px;" class="fa-solid fa-triangle-exclamation"></i> Error <%= resp %></h1>
            <p><%= matter %></p>
            <p>Return back to <a class="home" href="/">Home</a></p>
        </div>
    </main>

    <footer>
        <div class="text-center">Made with 💖 by <a class="author" href="https://www.linkedin.com/in/kondu-dinesh-reddy-3229a121a/" target="_blank">Dinesh&nbsp;Kondu</a></div>
    </footer>

</body>
</html>


<body>
    
</body>